<%= form_for(@phone_number, remote: true, html: {'data-replace' => '#phone-numbers-container'}) do |f| %>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'button' %>
  </div>
<% end %>
