<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.phone_number.number' %></th>
      <th><%= t 'activerecord.attributes.phone_number.name' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_numbers.each do |phone_number| %>
      <tr>
        <td><%= phone_number.number %></td>
        <td><%= phone_number.name %></td>
        <td><%= link_to 'Show', phone_number_path(phone_number), remote: true, 'data-replace' => '#phone-numbers-container' %></td>
        <td><%= link_to 'Edit', edit_phone_number_path(phone_number), remote: true, 'data-replace' => '#phone-numbers-container' %></td>
        <td><%= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, 'data-replace' => '#phone-numbers-container' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @phone_numbers %>