<h1>Phone book</h1>

<%= link_to 'New Phone number', new_phone_number_path, class: 'button', remote: true, 'data-replace' => '#phone-numbers-container' %>
<%= link_to 'Download book', download_phone_numbers_path, class: 'button' %>
<%= link_to 'Upload book', upload_phone_numbers_path, class: 'button', remote: true, 'data-replace' => '#phone-numbers-container' %>

<div id='phone-numbers-container'>
  <%= render 'table' %>
</div>