<p>
  <strong><%= t 'activerecord.attributes.phone_number.number' %>:</strong>
  <%= @phone_number.number %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.phone_number.name' %>:</strong>
  <%= @phone_number.name %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.phone_number.created_at' %>:</strong>
  <%= @phone_number.created_at %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.phone_number.updated_at' %>:</strong>
  <%= @phone_number.updated_at %>
</p>

<%= link_to 'Edit', edit_phone_number_path(@phone_number), remote: true, 'data-replace' => '#phone-numbers-container' %> |
<%= link_to 'Back', phone_numbers_path, remote: true, 'data-replace' => '#phone-numbers-container' %>
