<h4>Upload phone book</h4>

<%= form_for :phone_number, url: import_phone_numbers_path(:js), method: :post, remote: true, html: {multipart: true} do |f| %>
  <%= file_field_tag :file, accept: 'text/csv' %>
  <%= f.submit 'Upload phone book', class: 'button' %>
<% end %>

<%= link_to 'Back', phone_numbers_path, remote: true, 'data-replace' => '#phone-numbers-container' %>