<div id='flash' class='flash'>
  <% flash.each do |type, messages| %>
    <% c = {notice: :success, error: :alert}[type] %>
    <% [messages].flatten.each do |message| %>
      <div class="message alert-box <%= c %>"><%= message %></div>
    <% end -%>
  <% end -%>
</div>