<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "PhoneBook" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "PhoneBook", root_path %></a></h1>
        </li>
      </ul>
      <% if current_user %>
        <div class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to t('layout.logout'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% end %>
    </nav>

    <div class="row">
      <div class="small-8 columns"><%= yield %></div>
      <div class="small-4 columns">
        <h2 class="subheader">Here is the test:</h2>
        <ul>
          <li>
            Create a phonebook which allows to keep peoples names and phones.
            It has one page which allows to add, edit and remove via ajax.
            it also allows to download the phonebook as a text file
            (e.g. tab-separated) and also upload a new version.
          </li>
          <li>
            When it uploads a file, it updates the phonebook, creating, updating and
            deleting records as appropriate. In short it has to *sync*
            (not just replace) the web-added data with the uploaded file.
          </li>
          <li>
            You are not allowed to use rich Javascript packages, except jQuery for this test, but we encourage you to use newest, stable versions of whatever you will use to solve this problem.
          </li>
        </ul>
      </div>
    </div>


    
    <%= javascript_include_tag "application" %>
  </body>
</html>
